body {
    margin: 0 auto;
    position: relative;
    width: 800px;
    background-color: rgb(245, 243, 199)
  }

#cat-tap-title {
    padding: 30px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: rgb(197, 149, 94);
    border-top: 0.15rem solid rgb(161, 121, 75);
    border-left: 0.15rem solid rgb(161, 121, 75);
    border-right: 0.15rem solid rgb(161, 121, 75);
}

#main-game-board {
    height: 600px;
    text-align: center;
    background-color: rgb(238, 207, 148);
    border: 0.15rem solid rgb(161, 121, 75);
}

#cat-menu {
    height: 300px;
    width: 300px;
    position: absolute;
  }

img {
    height: 200px;
    padding: 20px;
  }

#username-input {
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
}

#username {
    padding: 7px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(182, 138, 156);
    background-color: rgb(241, 204, 210);
    border: 0.15rem solid rgb(182, 138, 156);
    border-radius: 12px;
}

::placeholder {
    opacity: 0.3;
    color:rgb(182, 138, 156);
}

#buttons {
    padding: 220px;
}

#submit-button {
    padding: 7px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(241, 204, 210);
    color: rgb(182, 138, 156);
    border: 0.15rem solid rgb(182, 138, 156);
    border-radius: 12px;
}

#submit-button:hover {
    box-shadow: 0 8px 16px 0 rgb(182, 138, 156);
}

#start-game {
    margin: 0 auto;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 0.15rem solid rgb(161, 121, 75);
    border-radius: 12px;
    background-color: rgb(197, 149, 94);
    color: #fff;
}

#start-game:hover {
    box-shadow: 0 8px 16px 0 rgb(197, 149, 94);
}

#retry {
    margin: 0 auto;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 0.15rem solid rgb(143, 167, 143);
    border-radius: 12px;
    background-color: rgb(183, 214, 183);
    color: rgb(143, 167, 143);
}

#retry:hover {
    box-shadow: 0 8px 16px 0 rgb(143, 167, 143);
}

#final-score {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-shadow: 0 8px 16px 0 rgb(161, 121, 75);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

#user-info {
    margin: 0 auto;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(197, 149, 94);
    border-bottom: 0.15rem solid rgb(161, 121, 75);
    border-left: 0.15rem solid rgb(161, 121, 75);
    border-right: 0.15rem solid rgb(161, 121, 75);
}

#username-container {
    float: left;
    color: #fff;
}

#score-count {
    float: right;
    color: #fff
  }
