body {
    margin: 10;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    position: relative;
  }

#cat-tap-title {
    text-align: center;
    margin: 10;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

#main-game-board {
    height: 600px;
}

#username-input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

#user-info {
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #000;
    padding: 20px;
}

#username-container {
    text-align: left;
    color: #fff
}

#score-count {
    text-align: right;
    color: #fff
  }

